<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
</head>
<body>
    <header class="container">
        <nav>
            <ul>
              <li><h1><a href="/" class="contrast"><strong>Social Media Problem Case</strong></a></h1></li>
            </ul>
            <ul>
              <li><a href="#" class="contrast">Home</a></li>
              <li><a href="#" class="contrast">Apps</a></li>
              <li><a href="#" class="contrast">Sign In / Join</a></li>
            </ul>
          </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="container">
    </footer>
</body>
</html>